<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Sites</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Site Name</th>
                            <th>% Full</th>
                            <th>Total Spots</th>
                        </tr>
                    </thead>
                    <tbody>
                        - @data_sites.each do |s|
                            <tr>
                                <td>#{s.id}</td>
                                <td><a href="/data/#{s.short_name}">#{s.full_name}</a></td>
                                <td>#{ParkingUsage.get_site(s.short_name)}%</td>
                                <td>#{s.total_spaces}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>