<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">#{@data_site.full_name} Zones</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Zone Name</th>
                            <th>% Full</th>
                            <th>Total Spots</th>
                        </tr>
                    </thead>
                    <tbody>
                        - @data_zones.each do |z|
                            <tr>
                                <td>#{z.id}</td>
                                <td><a href="/data/#{@data_site.short_name}/#{z.short_name}">#{z.full_name}</a></td>
                                <td>#{(Float(z.used_spaces) / Float(z.total_spaces)) * 100}%</td>
                                <td>#{z.total_spaces}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>