<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">#{@data_zone.full_name} Lots</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Lot Name</th>
                            <th>% Full</th>
                            <th>Used Spots</th>
                            <th>Total Spots</th>
                            <th>Restricted?</th>
                            <th>Faculty Only?</th>
                            <th>Smart Trackers?</th>
                        </tr>
                    </thead>
                    <tbody>
                        - @data_lots.each do |l|
                            <tr>
                                <td>#{l.id}</td>
                                <td><a href="/data/#{@data_site.short_name}/#{@data_zone.short_name}/#{l.short_name}">#{l.full_name}</a></td>
                                <td>#{((Float(l.used_spaces) / Float(l.total_spaces)) * 100).round(1)}%</td>
                                <td>#{l.used_spaces}</td>
                                <td>#{l.total_spaces}</td>
                                - if l.is_restricted_access
                                    <td>Y</td>
                                - else
                                    <td>N</td>
                                - if l.is_staff_only
                                    <td>Y</td>
                                - else
                                    <td>N</td>
                                - if l.is_trackable
                                    <td>Y</td>
                                - else
                                    <td>N</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>