<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" ng-app="data-view" ng-controller="refresh_control">
            <h1>{{lot_name}}</h1>
            <h4>{{percentage}}</h4>
            <svg id="svg_donut" width="200" height="200"></svg>
            <p>Updating in {{secs}} seconds.</p>
            <p>For optimum performance, do not refresh this page.</p>
        </div>
        javascript:
            function GetInjectedUsage() {
                return GetUsage("#{@api_endpoint}");
            }
        <script src="/js/data/lot/active_data.js"></script>
    </div>
</div>